<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="bloque1">
        <div class="TituloPrincipal">
            <h1>Hello world</h1>
            <h3 class="TituloTerciario">Bonjour le monde</h3>
        </div>
        <div class="TituloPrincipal">
            <h1>Bye world</h1>
            <h3 class="TituloTerciario">Bonjour le monde</h3>
        </div>
    </div>
    
    <h2 class="TituloSecundario">Hola mundo</h2>
    
    <p>Este es un párrafo de texto</p>
    <a href="index2">Esto es un enlace</a>
    <img src="" alt="Gatito">
    <ol>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li>
    </ol>
    <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li>
    </ul>
</body>
</html>