<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Stock</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header> <!-- sirve para definir la cabecera de la pagina, va el logotipo y el titulo. -->
        <h1>ControlStock</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="C:\Users\Facultad Juli\Documents\GitHub\ControlStock\clientManaging\templates\clients.html">Clientes</a></li>
            <li><a href="#">Informes</a></li>
        </ul>
    </nav>

    <section id="main-content">
        <!-- Aquí irá el contenido principal -->
    </section>

    <footer> <!-- pie de pagina -->
        <p>&copy; 2024 Control Stock</p>
    </footer>
</body>
</html>
